In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report, f1_score, recall_score, precision_score

In [3]:
df = pd.read_csv("../data/external.csv")
df.head()

,Pclass,Age,SibSp,Parch,Fare,Embarked,Female,Male,target
0,0.827377,-0.512884,0.432793,-0.473674,-0.502445,0.585954,-0.737695,0.737695,3.0
1,-1.566107,0.653066,0.432793,-0.473674,0.786845,-1.942303,1.355574,-1.355574,1.0
2,0.827377,-0.221396,-0.474545,-0.473674,-0.488854,0.585954,1.355574,-1.355574,3.0
3,-1.566107,0.434451,0.432793,-0.473674,0.420730,0.585954,1.355574,-1.355574,1.0
4,0.827377,0.434451,-0.474545,-0.473674,-0.486337,0.585954,-0.737695,0.737695,3.0

In [4]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [6]:
model = RandomForestClassifier()

model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [9]:
print(confusion_matrix(y_pred=y_pred, y_true=y_test))

[[50  0  0]
 [ 0 35  0]
 [ 0  0 94]]

In [10]:
print(accuracy_score(y_pred=y_pred, y_true=y_test))

1.0

In [14]:
print(classification_report(y_pred=y_pred, y_true=y_test))

              precision    recall  f1-score   support

         1.0       1.00      1.00      1.00        50
         2.0       1.00      1.00      1.00        35
         3.0       1.00      1.00      1.00        94

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179